*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(header-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 10px 8%;
    position: relative;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}


.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}

.lang-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position:absolute;
    top:20%;
    left: 30%;
    transform: translate(-50% -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 30px;
}

.header-content p{
    font-size: 16px;
    margin-left: 50px;
    font-weight: 300;
    max-width: 500px;
}

.email-signup input {
    width: 243px;
    height: 56px;
    margin-top: 10px;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background: transparent;

}

.email-signup input:active{
    border: 3px solid white;
}

.email-signup input:hover{
    border: 3px solid white;
}

.email-signup button{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #db0001;
    font-size: 1.125rem;
    line-height: 1;
    margin-left: 10px;
    letter-spacing: normal;
    font-weight: 800;
    cursor: pointer;
    color: white;
    width: 180px;
    height: 56px;
}

.email-signup button:hover{
    
    background-color: #712121;
}

.email-signup button:active{
    
    background-color: #712121;
}